.activ {
    width: 100%;
    height: 372px;
    display: flex;
    gap: 48px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 72px 100px;
}

.activ-text {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activ-text h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.08em;
    color: #3F4255;
}

.activ-text button {
    width: 118px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F4FA;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #9093A6;
}

.activ-cards {
    position: relative;
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activ-left,
.activ-right {
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    color: #9093A6;
}

.activ-left {
    left: -24px;
    bottom: 44px;
}

.activ-right {
    right: -24px;
    bottom: 44px;
}

.activ-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-menu {
    width: 136px;
    height: 136px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
}

.card-menu p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #313030;
}