.article {
    width: 100%;
    height: 512px;
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 48px 100px 72px 100px;
    flex-direction: column;
    justify-content: center;
}

.article-text {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-text h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.08em;
    color: #3F4255;
}

.article-text button {
    width: 118px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F4FA;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #9093A6;
}

.article-cards {
    position: relative;
    width: 100%;
    height: 296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-left,
.article-right {
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    color: #9093A6;
}

.article-left {
    left: -24px;
    bottom: 124px;
}

.article-right {
    right: -24px;
    bottom: 124px;
}

.article-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-food {
    width: 296px;
    height: 296px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 14px 5px #ececec;
    border-radius: 5px;
}

.card-food-ads{
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}


