.aside {
    width: 100%;
    height: 297px;
    display: flex;
    align-items: center;
    padding: 0 172px;
    justify-content: space-between;
    background: #F2F4FA;
}

.aside-text {
    width: 509px;
    height: 136px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.aside-text h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.08em;
    color: #3F4255;
}

.aside-text p {
    width: 424px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #3F4255;
}

.aside-email {
    position: relative;
    width: 428px;
    height: 72px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
}

.aside-email i {
    position: absolute;
    left: 16px;
    color: #D4D7E5;
    font-size: 20px;
}

.aside-email input {
    width: 336px;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 0 0 48px;
    justify-content: flex-start;
    border: none;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #9093A6;
}

.aside-email button {
    width: 88px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFE145;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #B79C10;
}