.header {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    border-bottom: 2px solid #D4D7E5;
}

.header-logo {
    position: relative;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #3F4255;
    z-index: 100;
}

.header-logo::after {
    content: "";
    position: absolute;
    width: 87px;
    height: 13px;
    bottom: 0;
    left: 0;
    background: #ffe045;
    z-index: -1;
}

.header-logo span {
    font-weight: 600;
}

.header-data {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: flex-end;
}

.header-data a,
.header-data span,
.header-menu i {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #9093A6;
}

.header-menu {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    background: #fff;
}

.header-menu i {
    font-size: 20px;
}