.section {
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: flex-start;
    padding: 0 100px;
    justify-content: space-between;
}

.section-text {
    width: 536px;
    height: 288px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 120px;
}

.section-text h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    letter-spacing: 0.05em;
    color: #3F4255;
}

.section-link {
    display: flex;
    gap: 24px;
    align-items: center;
}

.section-link button {
    width: 118px;
    height: 72px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    border: 2px solid #FFE145;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
}

.section-link button p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #3F4255;
}

.section-link button span {
    font-size: 11px;
}

.section-img {
    position: relative;
    width: 803px;
    height: 706px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-img img:first-child {
    position: absolute;
    width: 648px;
    height: 649px;
    object-fit: contain;
    right: 0;
    background-position: center;
    z-index: 10;
}

.section-img img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
}

.section-img img:last-child {
    position: absolute;
    bottom: 47px;
    left: 0;
    z-index: 12;
}

.section-ads {
    position: absolute;
    width: 872px;
    height: 104px;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 0 0 0 100px;
    justify-content: flex-start;
    left: 0;
    bottom: 0;
    box-shadow: 0px 8px 40px 0px #00000014;
    border-radius:  0 10px 10px 0;
}

.ads-card {
    width: auto;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.ads-card p {
    width: 182px;
    height: 48px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #3F4255;
}

