* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
}

.map {
  width: 1280px;
  height: 600px;
  object-fit: contain;
  margin: 72px 100px 72px 110px;
}